[user]
    email = nutchinet@outlook.com
    name = nutchi
[init]
    defaultBranch = main
[commit]
    gpgSign = true
[core]
    autocrlf = false
    editor = vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
